doctype html
html
  head
    title Add customer
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body
    h3.text-center.mt-5 New customer
    form(action='/addcustomer', method='POST').text-center
      div
        input(type="text", name="firstname",placeholder="firstname").my-2
      div
        input(type="text", name="lastname",placeholder="lastname").my-2
      div
        input(type="text", name="email",placeholder="email").my-2
      div
        input(type="number", name="phone",placeholder="phone number ").my-2
      div
        input(type="submit", value="Add").btn.btn-primary

