doctype html
html
  head
    title Add customer
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body
  h5.text-center.mt-5 if you want to see customer list and add customer in oue customerlist then click the button bellow here.
     div
      a(href='/customers').btn.btn-primary.text-center.mt-2  Add customer 